importFrom("e1071", skewness, kurtosis)
importFrom("sp", proj4string, coordinates, spplot)
#importFrom("maptools", readShapePoly)
importFrom("gstat", krige, idw)
importFrom("automap", autoKrige)
exportPattern("^[^\\.]")

S3method(monthlyfunction, zoo)
S3method(dm2seasonal, zoo)
S3method(seasonalfunction, zoo)
S3method(annualfunction, zoo)


